/* Body styles */
body {
    font-family: Arial, sans-serif;
    background: #e4eefa;
    margin: 0;
    padding: 0;
}

/* Header styles */
h1 {
    color: rgb(3, 79, 120);
    text-align: center;
    margin: 20px 0;
}

/* Search box styles */
.search-box {
    text-align: center;
    margin-bottom: 20px;
    position: relative; /* Ensure relative positioning to place autocomplete suggestions */
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2362a4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style for the select dropdown */
#mode-select {
    width: 200px; /* Adjust width as needed */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333; /* Text color */
}

/* Style for the dropdown arrow */
#mode-select::-ms-expand {
    display: none; /* Hide default arrow in IE */
}

#mode-select::after {
    content: '\25BC'; /* Unicode character for arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Make arrow unclickable */
}

/* Result styles */
.result {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* History button styles */
.history-button {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

#show-history {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2362a4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* History list styles */
#history-list {
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: white;
    z-index: 1;
}

.history-item {
    margin-bottom: 5px;
}

/* Autocomplete list styles */
#autocomplete-container {
    position: absolute;
    width: calc(100% - 22px); /* Adjust width to match the input field */
    z-index: 2;
    top: 52px; /* Adjust this value based on your input field height */
}

.autocomplete-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background-color: white;
    max-height: 150px; /* Adjust the max height */
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.autocomplete-list li {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-list li:hover {
    background-color: #f0f0f0;
}

/* history */
.history-container {
    position: absolute;
    top: 0;
    right: 0;
}

.centered-footer {
    color: #678;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
