<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTN_DICT</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/autocomplete.js"></script>
    <script src="/static/history.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>

<body>
    <h1>MY BIG DICT<span style="font-size:0.4em;">ionary</span></h1>
    <div class="search-box">
        <form action="/search" method="get">
            <select id="mode-select" name="mode">
                <option value="vi">Vietnamese</option>
                <option value="en">English</option>
            </select>
            <input id="search-input" type="text" name="word" placeholder="Type the word here...">
            <button class="fas fa-search" type="submit"></button>
        </form>
        <div id="autocomplete-container">
            <ul id="autocomplete-list" class="autocomplete-list"></ul>
        </div>
    </div>

    <div class="history-container">
        <div class="history-button">
            <button id="show-history">History</button>
            <div id="history-list">
                {% for item in history %}
                <div class="history-item">{{ item }}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    <footer class="centered-footer">&copy; 2024 TTN. All rights reserved</footer>
</body>

</html>
